@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  height: 100vh;
  display: flex;
  justify-content: center;
  background: linear-gradient(
    0deg, #080814, var(--darker-blue) 200%);
}

#root{
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 75px;
  gap: 20px;
}

.header form{
  display: flex;
  gap: 16px;
}

.header h1{
  font-family: 'Poppins';
  font-size: 50px;
  color: #f0f8ff;
}
.header input{
  width: 180px;
  padding: 14px;
  border-radius: 5px;
  border: 2px solid var(--darker-blue);
  background: transparent;
  color: #babbc7;
  font-size: 17px;
  font-family: 'Poppins';
  outline: none;

  &::placeholder{
    color: #7173887e;
    font-size: 17px;
    font-family: 'Poppins';
  }

  transition: all .2s ease;
  &:hover{
    border: 2px solid var(--dark-blue);
  }
  &:focus{
    border: 2px solid #0a295f;
  }
}

.header button{
  padding: 8px 22px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Poppins';
  border: 2px solid var(--darker-blue);
  background: var(--darker-blue);
  color: #cfd0d9;

  transition: all .2s ease;
  &:hover{
    border: 2px solid var(--dark-blue);
    box-shadow: 0 0 10px var(--dark-blue);
  }
  transition: transform .1s ease-out;
  &:active{
    transform: translateY(5px);
    box-shadow: none;
  }
}

@media screen and (max-width: 430px){
  .header h1{
    font-size: 35px;
  }
}


